$dark-bg0: #181818;
$dark-bg1: #1f1f1f;
$dark-bg2: #2b2b2b;

$dark-cl0: #868686;
$dark-cl1: #cccccc;
$dark-cl2: #ffffff;

$dark-hov0: #343434;

$bg-func: $dark-bg0;
$cl-func: $dark-cl1;
$hov-func: $dark-hov0;

$bg-chat: $dark-bg1;

$bg-message: $dark-bg2;
$cl-message: $dark-cl2;
